.Article {
    @media screen and (max-width: 1740px) {
        &__checkpoints {
            display: none;
        }
    }
    @media screen and (max-width: $desktop_size) {
        &_background {
            display: flex;
            align-items: center;
            height: 50vh;
        }
        
        &__container {
            max-width: 100%;
        }
    }
}