.Footer {
    @media screen and (max-width: $landscape_tablet_size) {
        &__content {
            flex-direction: column;
        }

        &__section, &__section_top {
            width: 100% !important;
        }
    }

    @media screen and (max-width: $portrait_tablet_size) {
        &__list {
            &__item {
                &_label {
                    display: flex;
                    align-items: center;
                    height: unset;
                    padding: 20px 16px;
                }
            }
        }
    }
}