.Topbar {
    @media screen and (min-width: 105rem) {
        &__line {
            display: block;
            left: calc(50% - 85rem + 33px);
        }
        
        &__header {
            left: calc(50% - 85rem);
            padding-left: 0;
        }

        &__right {
            right: calc(50% - 85rem);
            padding-left: 0;
        }
    }

    @media screen and (max-width: $landscape_tablet_size) {
        &__right {
            display: none !important;
        }
    }
}