$spacing_top: 25px;
$bar_height: 64px;

// Components
@import "./components/LanguageSelect/styles";
@import "./components/ThemeSwitcher/styles";

.Topbar {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: fixed;
        top: 0;
        left: 0;

        background-color: $--main-gold-color;

        z-index: $bar_index + 1;

        transition: transform $sm_tr ease;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $spacing_top * 2 + $bar_height;

    background-color: $--main-bg-color-deep;
    background-color: var(--main-bg-color-deep);

    z-index: $bar_index;
    transition: background-color $sm_tr ease;

    &_fadeout {
        background-color: rgba(0,0,0,.25);

        & .Topbar__button {
            color: #fff !important;
        }
    }

    &_hidden {
        background-color: rgba(0,0,0,0);

        &::before {
            transform: translateY(-100%);
        }
    }

    &__line {
        display: none;
        width: 2px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

        background-color: $--main-gold-color;

        transform: translateX(-100%);
        z-index: -1;
    }

    &__header {
        position: fixed;
        top: $spacing_top;
        left: 0;
        padding-left: $spacing_top;

        z-index: $bar_index + 1;

        &_fadeout {
            & .Topbar__author {
                color: #fff !important;
            }
        }
    }

    &__right {
        &.Topbar_pinned {
            transform: translateY(0);
            opacity: 1;
        }
        
        position: fixed;
        top: $spacing_top;
        right: 0;
        display: inline-flex;
        padding-right: $spacing_top;

        z-index: $bar_index;
        transform: translateY(-10px);
        opacity: 0;
        transition: 
            transform $sm_tr cubic-bezier(0.39, 0.58, 0.57, 1),
            opacity $sm_tr ease-in-out
        ;
    }

    &__navigation {
        margin-right: $box_margin;
    }

    &__preferences {
        align-items: center;
    }

    &__button {
        &:hover {
            color: $--main-gold-color !important;
        }

        transition: color $sm_tr ease;
    }

    &__branding-icon {
        &.Topbar_pinned {
            transform: scale(1);
        }

        &:hover {
            transform: scale(1.2);
        }

        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: $bar_height;
        height: $bar_height;
        padding: $basic_margin;
        margin-right: $separate_margin;

        border-radius: 100%;
        background-color: #1d1d1d;
        box-shadow: 0px 0px 18px -10px $--main-shadow-color;
		box-shadow: 0px 0px 18px -10px var(--main-shadow-color);

        transform: scale(1.15);
        transition: 
            transform $sm_tr cubic-bezier(0, 0, 0.2, 1) $sm_tr
        ;
        z-index: 2;
    }

    &__author {
        &.Topbar_pinned {
            transform: translateX(0);
            opacity: 1;
        }

        &:hover {
            color: $--main-txt-color;
            color: var(--main-txt-color);
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;

            background-color: $--main-gold-color;

            transform: translateX(-100%);
            transition: transform $sm_tr ease;
        }

        &:hover::after {
            transform: translateX(0);
        }

        display: inline-block;
        vertical-align: middle;
        position: relative;

        font: {
            family: "Quicksand", $title_font;
            size: calc(0.2vw + 2.25rem);
        }

        transform: translateX(-50px);
        opacity: 0;
        z-index: 1;
        overflow: hidden;
        transition: 
            transform $sm_tr cubic-bezier(0.39, 0.58, 0.57, 1),
            opacity $sm_tr ease-in-out,
            color $sm_tr ease
        ;
    }

    &__s-media {
        height: 64px;
        margin: 0 $inline_margin;
        
        font-size: calc(0.2vw + 3.25rem);
        color: $--main-icon-color;
        color: var(--main-icon-color);
    }
}