$spacing: 60vh;

.Article {
    @media screen and (min-width: $desktop_size) {
        &_background {
            background: none;
        }
    }

    @media screen and (max-width: $desktop_size) {
        &_background {
            &_top-space {
                margin-top: $spacing;
            }

            height: $spacing;
            top: -$spacing;

            filter: blur(calc(.5px + 0.08vw));

            & > * {
                display: none;
            }
        }

        &__title_wrapper {
            top: -$spacing / 2;
        }
    }
}