.Article__bookmark_wrapper {
    position: relative;
    width: 100%;
}

.Article__bookmark {
    position: absolute;
    left: 10%;
    top: 50%;

    font: {
        size: 2.5rem;
        family: $text_font;
    }
    color: $--main-gold-color;

    transform: translateY(-50%);
}