.scroll-top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 45px;
	margin-bottom: 45px;
	opacity: 0;

	transition: opacity $sm_tr cubic-bezier(0.39, 0.58, 0.57, 1);

	z-index: $help_index;
	pointer-events: none;

	&__icon {
		padding: $separate_margin;

		background: $--main-bg-color;
		background: var(--main-bg-color);
		border-radius: 50%;
		box-shadow: 0px 0px 18px -10px $--main-shadow-color;
		box-shadow: 0px 0px 18px -10px var(--main-shadow-color);
		
		font: {
			size: 2.5rem;
		}
		color: $--main-icon-color;
		color: var(--main-icon-color);

		cursor: pointer;

		transition: 
			background-color 0.2s ease-in-out,
			color $sm_tr ease-in-out
		;

		&:hover {
			background-color: $--main-contrast-color;
			background-color: var(--main-contrast-color);

			color: #fff;
		}
	}
}