@keyframes negative_rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes positive_rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes fog {
    0% {
        transform: translateX(25px);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(25px);
    }
}

.Hero {
    &__background {
        &-element {
            img {
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }
        
            &__sun {
                width: 48vh;
                height: 48vh;
                top: 2vh;
                right: 2vw;
        
                z-index: 1;
        
                .sun {
                    position: absolute;
                    height: 48vh;
        
                    z-index: 2;
                }
        
                .sunbeams {
                    &__1 {
                        position: absolute;
                        height: 48vh;
        
                        animation: 22s negative_rotate infinite linear;
                        z-index: 2;
                    }
        
                    &__2 {
                        position: absolute;
                        height: 48vh;
        
                        animation: 18s positive_rotate infinite linear;
                        z-index: 1;
                    }
                }
            }
        
            &__mountains {
                width: 100%;
                height: 100%;
        
                img {
                    position: absolute;
                    right: 0;
                    height: 100%;
                }
            }
        
            &__stars {
                width: 100%;
                height: 100%;
        
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        
            &__moon {
                top: 10vh;
                right: 8vw;
        
                z-index: 1;
        
                img {
                    height: 38vh;
                }
        
                &__shadow {
                    position: absolute;
                    left: 0;
                    top: 0;
        
                    z-index: 1;
                }
            }
        
            &__fog {
                &__day {
                    top: 4vh;
                    right: 27vw;
        
                    z-index: 1;
                    animation: 30s fog infinite linear;
        
                    img {
                        height: 20vh;
                    }
                }
        
                &__night {
                    bottom: 15vh;
                    right: 14vw;
        
                    z-index: 1;
                    opacity: 0.45;
                    animation: 30s fog infinite linear;
        
                    img {
                        height: 35vh;
                    }
                }
            }
        
            &__cloud {
                &__1 {
                    top: 8vh;
                    right: 30vw;
        
                    z-index: 2;
                    
                    img {
                        height: 25vh;
                    }
                }
        
                &__2 {
                    top: 22vh;
                    right: 35vw;
        
                    z-index: 2;
                    
                    img {
                        height: 45vh;
                    }
                }
        
                &__3 {
                    top: 24vh;
                    right: 19vw;
        
                    z-index: 2;
                    
                    img {
                        height: 30vh;
                    }
                }
            }
        }
    }
}