@media screen and (min-width: $portrait_tablet_size) {
    %col {
        position: relative;
        min-height: 1px;
        padding: {
            left: 15px;
            right: 15px;
        }
        display: inline-block;
        vertical-align: middle;
    }

    @for $i from 1 through 12 {
        .col-m-#{$i} {
            @extend %col;
            width: #{$i * (100% / 12)} !important;
        }
    }
}

@for $i from 1 through 12 {
    .col-s-#{$i} {
        @extend %col;
        width: #{$i * (100% / 12)} !important;
    }
}