.modal-display {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;

	background-color: unset;

	z-index: $all-width_index;
	transition: background-color $sm_tr cubic-bezier(0.25, 0.1, 0.27, 1.25);

	&_active {
		display: block;
	}

	&_overlay {
		background-color: $--main-bg-color;
		background-color: var(--main-bg-color);

		cursor: zoom-out;
	}
}

[data-select-modal="hidden"] {
	opacity: 0;
}