.root {
	opacity: 0;
	transition: opacity $lo_tr;
}

.page-part-wrapper {
	position: relative;
}

.page-part-content {
	position: relative;
	padding-bottom: 30px;

	z-index: 1;
}

.page-fullscreen {
	min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
	max-width: 1130px;
	margin: 0 auto;

	z-index: 2;

	@media screen and (max-width: $desktop_size) {
		padding: 0;
	}
}
