/*  ==================
    Settings
    ================== */

// Variables of time
$vsm_tr: 150ms;
$sm_tr: 300ms;
$me_tr: 550ms;
$lo_tr: 1000ms;

// Variables of size
$basic_margin: 8px;
$inline_margin: 12px;
$box_margin: 24px;

// Variables of color
$--main-icon-color: #2e2e2e;
$--main-icon-color-contrast: #fefefe;
$--main-txt-color: #000;
$--main-txt-color-sub: #555;
$--main-bg-color: #fff;
$--main-bg-color-second: #dfdfdf;
$--main-bg-color-deep: #dfdfdf;
$--main-bg-color-box: #f0f0f0;
$--main-shadow-color: #191919;
$--main-contrast-color: #ffde59;

// Variables of fonts
$title_font: "QuickSand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$text_font: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Variables of sizes
$max-width_size: 1130px;
$big_desktop_size: 1281px; // High res laptops / desktop
$desktop_size: 1025px; // Big landscape tablets, desktops and laptops
$landscape_tablet_size: 801px; // Landscape tablet, low res desktops and laptops
$portrait_tablet_size: 600px; // Portrait tablet
$landscape_smartphone_size: 480px; // Landscape smartphones
$big_portrait_smartphone_size: 400px; // Big portrait smartphones
$smartphone_size: 340px; // Smartphone

// Variables of Z-index
$very-important_index: 115;
$all-width_index: 110;
$sidebar_index: 100;
$packed_index: 99;
$bar_index: 90;
$help_index: 80;
