html.on-load {
    overflow: hidden;
}

.is-visible_transitional {
    opacity: 1;
}

.is-hidden {
    display: none;
}

.slide {
    &_top {
        transform: translateY(-25px);
    }

    &_bottom {
        transform: translateY(25px);
    }
}