@keyframes negative_rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes positive_rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes fog {
    0% {
        transform: translateX(25px);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(25px);
    }
}

.Home {
    &__background {
        position: relative;
        width: 100%;
        height: 100%;

        background-color: $--main-bg-color;
        background-color: var(--main-bg-color);

        transition: background-color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1);

        &__scene {
            &_light {
                background-color: #28C2FF;
            }

            &_aboutme {
                background-color: #63b58266;
            }
        }
        
        &-element {
            position: absolute;
        }
    }
}

.Home {
    &__hero {
        position: absolute;
        width: 40vw;
        height: 100%;

        z-index: 3;

        &_aboutme {
            background: {
                image: url("/images/aboutme-illustrations/notre-dame-de-paris.jpg");
                size: 130%;
                position: 0 20%;
            }
        }

        &__banner {
            position: absolute;
            right: 0;
            width: 15vw;
            height: 100%;

            background-color: $--main-contrast-color;
            background-color: var(--main-contrast-color);
        }
    }

    &__background {
        &-element {
            img {
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }
            
            &__sun {
                width: 48vh;
                height: 48vh;
                top: 2vh;
                right: 2vw;

                z-index: 1;

                .sun {
                    position: absolute;
                    height: 48vh;

                    z-index: 2;
                }

                .sunbeams {
                    &__1 {
                        position: absolute;
                        height: 48vh;

                        animation: 22s negative_rotate infinite linear;
                        z-index: 2;
                    }

                    &__2 {
                        position: absolute;
                        height: 48vh;

                        animation: 18s positive_rotate infinite linear;
                        z-index: 1;
                    }
                }
            }

            &__mountains {
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    right: 0;
                    height: 100%;
                }
            }

            &__stars {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__moon {
                top: 10vh;
                right: 8vw;

                z-index: 1;

                img {
                    height: 38vh;
                }

                &__shadow {
                    position: absolute;
                    left: 0;
                    top: 0;

                    z-index: 1;
                }
            }

            &__fog {
                &__day {
                    top: 4vh;
                    right: 27vw;

                    z-index: 1;
                    animation: 30s fog infinite linear;

                    img {
                        height: 20vh;
                    }
                }

                &__night {
                    bottom: 15vh;
                    right: 14vw;

                    z-index: 1;
                    opacity: 0.45;
                    animation: 30s fog infinite linear;

                    img {
                        height: 35vh;
                    }
                }
            }

            &__cloud {
                &__1 {
                    top: 8vh;
                    right: 30vw;

                    z-index: 2;
                    
                    img {
                        height: 25vh;
                    }
                }

                &__2 {
                    top: 22vh;
                    right: 35vw;

                    z-index: 2;
                    
                    img {
                        height: 45vh;
                    }
                }

                &__3 {
                    top: 24vh;
                    right: 19vw;

                    z-index: 2;
                    
                    img {
                        height: 30vh;
                    }
                }
            }

            &__particles {
                left: 40vw;  

                z-index: 5;

                img {
                    height: 70vh;
                }
            }

            &__switch {
                left: 35vw;  

                z-index: 2;

                img {
                    height: 70vh;
                }
            }

            &__samothrace {
                right: 5vw;

                z-index: 5;

                img {
                    height: 70vh;
                }
            }

            &__skull {
                bottom: -8vh;
                right: 25vw;

                z-index: 5;
                transform: rotate(-25deg);

                img {
                    height: 40vh;
                }
            }

            &__meal {
                top: 10vh;
                right: 20vw;

                z-index: 2;

                img {
                    height: 30vh;
                }
            }

            &__circle {
                &__2 {
                    top: -12vh;
                    right: -15vh;

                    z-index: 3;
                
                    img {
                        height: 70vh;
                        opacity: .75;
                    }
                }
                
                &__1 {
                    right: 8vw;
                    bottom: -35vh;

                    z-index: 1;
                
                    img {
                        height: 80vh;
                        opacity: .5;
                    }
                }
            }
        }
    }
}