.Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: $--main-bg-color-second;
    background-color: var(--main-bg-color-second);

    opacity: 0;
    z-index: $all-width_index;
    transition: opacity $sm_tr ease-out;

    &__content {
        width: 250px;

        flex-direction: column;
    }

    &__icon {
        width: 128px;
        height: 128px;
        padding: $basic_margin;
        margin-bottom: $separate_margin;

        border-radius: 100%;
        background-color: $--main-bg-color;
        background-color: var(--main-bg-color);
        
        opacity: 0;
        transition: 
            transform $me_tr ease-out,
            opacity $me_tr ease-out
        ;
    }

    &__percentage {
        &_wrapper {
            opacity: 0;
            transition: opacity $sm_tr ease-in-out;
        }

        display: inline-block;

        font: {
            size: 3vw;
            family: $title_font;
        }
    }

    &__progress-bar {
        width: 100%;
        height: 3px;
        margin-top: $separate_margin;

        background-color: $--main-light-gray;

        transition: 
            transform $sm_tr ease-in,
            width $sm_tr ease-in
        ;

        &_filled {
            min-width: 0.1%;
            max-width: 100%;
            height: 100%;
            
            background-color: $--main-gold-color;
        }
    }
}

// NProgress https://github.com/rstacruz/nprogress
#nprogress{pointer-events:none}#nprogress .bar{background:#29d;position:fixed;z-index:1031;top:0;left:0;width:100%;height:2px}#nprogress .peg{display:block;position:absolute;right:0;width:100px;height:100%;box-shadow:0 0 10px #29d,0 0 5px #29d;opacity:1;-webkit-transform:rotate(3deg) translate(0px,-4px);-ms-transform:rotate(3deg) translate(0px,-4px);transform:rotate(3deg) translate(0px,-4px)}#nprogress .spinner{display:block;position:fixed;z-index:1031;top:15px;right:15px}#nprogress .spinner-icon{width:18px;height:18px;box-sizing:border-box;border:solid 2px transparent;border-top-color:#29d;border-left-color:#29d;border-radius:50%;-webkit-animation:nprogress-spinner 400ms linear infinite;animation:nprogress-spinner 400ms linear infinite}.nprogress-custom-parent{overflow:hidden;position:relative}.nprogress-custom-parent #nprogress .spinner,.nprogress-custom-parent #nprogress .bar{position:absolute}@-webkit-keyframes nprogress-spinner{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes nprogress-spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}