.Slider {
    &_container {
        background-color: $--main-bg-color-second;
        background-color: var(--main-bg-color-second);
    }

    position: absolute;
    top: 52%;
    height: 70vh;

    background-color: $--main-bg-color;
    background-color: var(--main-bg-color);
    
    transition: 
        color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        background-color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        transform $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    &_template {
        width: 100%;
    }
    
    &_wrapper {
        position: relative;
    }

    &__section {
        display: inline-block;
        height: 100%;
        width: 100%;
        max-width: none;
        position: relative;

        overflow: hidden;
    }

    &__box {
        padding: 20px;

        background-color: #84b66552;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 5%;

        color: $--main-icon-color-contrast;
        color: var(--main-icon-color-contrast);

        transform: translateY(-50%);
        z-index: 10;

        &_text {
            font-size: 4vw;
            font-family: "Quicksand", $title_font;
            text-transform: uppercase;
            color: $--main-icon-color-contrast;
            color: var(--main-icon-color-contrast);
        }
    }

    &__subtitle {
        &_text {
            font-size: 1.75vw;
            font-family: "Quicksand", $title_font;
        }
    }

    &__btn {
        margin-top: $box_margin;
        padding: 10px 16px;

        border-radius: 10px;
        background-color: #{$--main-contrast-color}de;
        background-color: var(--main-contrast-color);

        font: {
            size: 1vw;
            weight: 600;
            family: $text_font;
        }
        color: $--main-icon-color-contrast;
        color: var(--main-icon-color-contrast);

        transition: background-color $sm_tr;
    }

    &__navigation {
        &-bar {
            position: fixed;
            bottom: 5vh;
            left: 0;
            width: 100%;
            height: 8vh;

            background-color: $--main-bg-color-box;
            background-color: var(--main-bg-color-box);

            opacity: 0.7;
        }

        &-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;

                background-color: $--main-txt-color;
                background-color: var(--main-txt-color);

                transform: translateY(-50%);
            }
        }

        &_waypoint {
            width: 25px;
            margin: $inline_margin;

            fill: $--main-txt-color;
            fill: var(--main-txt-color);

            z-index: 10;
            transform: scale(0.75) translateZ(0);

            &[data-current-slide="true"] {
                transform: scale(1) translateZ(0);

                circle {
                    -webkit-backface-visibility: hidden;
                    fill: $--main-bg-color;
                    fill: var(--main-bg-color);
                    stroke-width: 6px;
                    stroke: $--main-txt-color;
                    stroke: var(--main-txt-color);

                    transform: translateZ(0);
                }
            }

            transition: 
                fill $sm_tr,
                stroke $sm_tr,
                transform $me_tr;
        }
    }
}
