.Slider {
    position: absolute;
    top: 52%;
    height: 70vh;

    background-color: $--main-bg-color;
    background-color: var(--main-bg-color);
    
    transition: 
        color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        background-color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        transform $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

    &_template {
        width: 100%;
    }
    
    &_wrapper {
        position: relative;
    }

    &__section {
        display: inline-block;
        height: 100%;
        width: 100%;
        max-width: none;
        position: relative;

        overflow: hidden;
    }

    &__background {
        position: relative;
        width: 100%;
        height: 100%;

        background-color: $--main-bg-color;
        background-color: var(--main-bg-color);

        transition: background-color $lo_tr cubic-bezier(0.645, 0.045, 0.355, 1);

        &__scene {
            &_light {
                background-color: #28C2FF;
            }
        }
        
        &-element {
            position: absolute;
        }
    }

    &__image {
        position: absolute;
        left: 70%;
        max-height: 70vh;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 5%;

        transform: translateY(-50%);
        z-index: 3;

        &_text {
            font-size: 4vw;
            font-family: $title_font;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        &_text {
            font-size: 1.75vw;
            font-family: $title_font;
        }
    }

    &__btn {
        margin-top: $box_margin;
        padding: 0.85vw 1.25vw;

        border-radius: 1vw;
        background-color: #{$--main-contrast-color}de;
        background-color: var(--main-contrast-color);

        font: {
            size: 1vw;
            weight: 600;
            family: $text_font;
        }
        color: $--main-bg-color;
        color: var(--main-bg-color);

        &:hover {
            background-color: $--main-contrast-color;
        }

        transition: background-color $sm_tr;
    }

    &__navigation {
        &-bar {
            position: fixed;
            bottom: 5vh;
            left: 0;
            width: 100vw;
            height: 8vh;

            background-color: $--main-bg-color-box;
            background-color: var(--main-bg-color-box);

            opacity: 0.7;
        }

        &-wrapper {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 3px;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;

                background-color: $--main-txt-color;
                background-color: var(--main-txt-color);

                transform: translateY(-50%);
            }
        }

        &_waypoint {
            width: 25px;
            margin: $inline_margin;

            fill: $--main-txt-color;
            fill: var(--main-txt-color);

            z-index: 10;
            transform: scale(0.75) translateZ(0);

            &[data-current-slide="true"] {
                transform: scale(1) translateZ(0);

                circle {
                    -webkit-backface-visibility: hidden;
                    fill: $--main-bg-color;
                    fill: var(--main-bg-color);
                    stroke-width: 6px;
                    stroke: $--main-txt-color;
                    stroke: var(--main-txt-color);

                    transform: translateZ(0);
                }
            }

            transition: 
                fill $sm_tr,
                stroke $sm_tr,
                transform $me_tr;
        }
    }
}

@keyframes negative_rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes positive_rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes fog {
    from {
        transform: translateX(25px);
    }

    to {
        transform: translateX(-10px);
    }
}

.Slider {
    &__background {
        &-element {
            &__sun {
                width: 48vh;
                height: 48vh;
                top: 2vh;
                right: 2vw;

                z-index: 1;

                .sun {
                    position: absolute;
                    height: 48vh;

                    z-index: 2;
                }

                .sunbeams {
                    &__1 {
                        position: absolute;
                        height: 48vh;

                        animation: 22s negative_rotate infinite linear;
                        z-index: 2;
                    }

                    &__2 {
                        position: absolute;
                        height: 48vh;

                        animation: 18s positive_rotate infinite linear;
                        z-index: 1;
                    }
                }
            }

            &__mountains {
                width: 100%;
                height: 100%;

                img {
                    position: absolute;
                    right: 0;
                    height: 100%;
                }
            }

            &__stars {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__moon {
                top: 10vh;
                right: 8vw;

                z-index: 1;

                img {
                    height: 38vh;
                }

                &__shadow {
                    position: absolute;
                    left: 0;
                    top: 0;

                    z-index: 1;
                }
            }

            &__fog {
                bottom: 15vh;
                right: 14vw;

                z-index: 1;
                opacity: 0.45;
                animation: 15s fog infinite linear;

                img {
                    height: 35vh;
                }
            }

            &__cloud {
                &__1 {
                    top: 8vh;
                    right: 30vw;

                    z-index: 2;
                    
                    img {
                        height: 25vh;
                    }
                }
            }

            &__cloud {
                &__2 {
                    top: 22vh;
                    right: 35vw;

                    z-index: 2;
                    
                    img {
                        height: 45vh;
                    }
                }
            }

            &__cloud {
                &__3 {
                    top: 24vh;
                    right: 19vw;

                    z-index: 2;
                    
                    img {
                        height: 30vh;
                    }
                }
            }
        }
    }
}