.Topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 60px 0 60px;

    z-index: $bar_index;

    &_spacing {
        margin-right: 25px;

        &_top {
            display: flex;
            margin-top: 37.5px;
            transform: translateY(-50%);
            align-items: center;
        }
    }

    &__btn {
        &:hover {
            opacity: 0.6;
        }

        cursor: pointer;
        transition: opacity $sm_tr;
    }

    &__title-name {
        font: {
            family: $title_font;
            size: 2.7rem;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: row;
    }

    &__navigation-bar {
        margin-right: 45px;
    }

    &__branding {
        font-size: 3rem;
        color: $--main-icon-color;
        color: var(--main-icon-color);
    }

    &__preferences {
        display: flex;
        flex-direction: row;
    }
}