body {
    min-width: 280px;
    min-height: 100%;

    background-color: $--main-bg-color-second;
    background-color: var(--main-bg-color-second);

    font-size: 62.5%;
    line-height: 1.4;
    color: $--main-txt-color;
    color: var(--main-txt-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;

    transition: background-color $sm_tr;
}

@each $prefix in (moz), (webkit) {
    *::-#{$prefix}-selection {
        background-color: rgba(225, 100, 40, .4);

        color: #fff;
    }
}

*::-moz-focus-inner {
    border: none;
}

a {
    display: inline-block;

    font: {
        family: inherit;
        size: inherit;
        weight: inherit;
    }
    text-decoration: none;
}

button {
    display: inline-block;

    background: none;

    cursor: pointer;
}

ul,
ol {
    list-style-type: none;
}

hr {
    display: block; 
    height: 1px;
    margin: 1rem 0; 
    padding: 0;

    border: 0; 
    border-top: 1px solid $--main-txt-color;
    border-top: 1px solid var(--main-txt-color);
}

.content-wrapper {
    padding: 10px;
}

.email {
    color: var(--main-contrast-color);
    color: $--main-contrast-color;
}